body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}
img{
    border:3px solid white;
    width: 100%;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
